{% extends "base_layout.html" %}

{% load static from staticfiles %}

{% block body %}
<!-- About Section -->
<div class="container-padding" style="width: 100%; margin: 0 auto; padding-top: 5%!important; padding-left: 15%!important; padding-right: 15%!important;">

	<div class="row">

	  	<div class="col col-sm-12 col-lg-8" id="about">
	    	<h2 style="color:lightgrey; border-bottom: solid 1px #eb0185;">About</h2>
		    <p style="margin-bottom: 4%;">Nationwide Professional Party DJ bringing fun and excitement to the dance floor, mixing music from the 60's, 70's, 80's, 90's, noughties and today!
		    </p>
 				<hr width="50%"> 
		    <h2 style="color:lightgrey; border-bottom: solid 1px #eb0185;">Company Overview</h2>
    		<p style="margin-bottom: 4%;">Providing fun DJ sets for all occasions, we love what we do and are excellent at our job!</p>
 				<hr width="50%"> 
    		<h2 style="color:lightgrey; border-bottom: solid 1px #eb0185;">Products</h2> 
    		<p style="margin-bottom: 4%;">
	    		<ul>
	    		<li>Birthday Parties</li>
	    		<li>Weddings</li>
	    		<li>Christmas Parties</li>
	    		<li>Kids Disco's</li>
	    		<li>Teenage Disco's</li>
	    		<li>Communion/Confirmation Parties</li>
	    		<li>Dinner Dances</li>
	    		<li>All Corporate Events</li>
	    		</ul>
    		</p>

    		<hr width="50%">
    		<hr width="50%">

    	
		</div><!-- End of first column-->

		<div class="col col-sm-12 col-lg-4" id="about">
			<div class="fb-page" style="width: 190px;"
				data-href="https://www.facebook.com/djendagcolfer"
				data-tabs="timeline" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true">
				<blockquote cite="https://www.facebook.com/djendagcolfer" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/djendagcolfer">DJ Enda Colfer</a></blockquote>
			</div>
		</div><!-- End of second column-->

	</div><!-- End of FIRST row -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * C O N T A C T -->
	<div class="row">
		 <div  class="column col-sm-12 col-lg-8" id="contact">
		 	<h2 style="color:lightgrey; border-bottom: solid 1px #eb0185;">Contact Me</h2>
		 	<div class="w3-section">
      			<p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Carlow, Ireland</p>
      			<p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: 086 066 5737</p>
      			<p><a href="https://www.facebook.com/messages/t/djendagcolfer"><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"></i>Facebook Messenger</a></p>
    		</div>
  		</div>
  		<hr style="width:200px" class="w3-opacity">
  	</div><!-- End of THIRD row -->

</div><!-- end of container -->



<!-- END PAGE CONTENT -->
</div>


<script>
	function menuBackground() {
		document.getElementById("homeMenu").style.backgroundColor = "#000000";
	}

	function homeClick(obj) {
  		document.getElementById("homeMenu").style.backgroundColor = "#000000";
  		document.getElementById("aboutMenu").style.backgroundColor = "#222222";
  		document.getElementById("photosMenu").style.backgroundColor = "#222222";
  		document.getElementById("contactMenu").style.backgroundColor = "#222222";
  		console.log("home clicked");
	}

	function aboutClick(obj) {
  		document.getElementById("homeMenu").style.backgroundColor = "#222222";
  		document.getElementById("aboutMenu").style.backgroundColor = "#000000";
  		document.getElementById("photosMenu").style.backgroundColor = "#222222";
  		document.getElementById("contactMenu").style.backgroundColor = "#222222";
  		console.log("about clicked");
	}

	function photosClick(obj) {
		document.getElementById("homeMenu").style.backgroundColor = "#222222";
		document.getElementById("aboutMenu").style.backgroundColor = "#222222";
		document.getElementById("photosMenu").style.backgroundColor = "#000000";
		document.getElementById("contactMenu").style.backgroundColor = "#222222";
		console.log("photos clicked");
	}

	function contactClick(obj) {
		document.getElementById("homeMenu").style.backgroundColor = "#222222";
		document.getElementById("aboutMenu").style.backgroundColor = "#222222";
		document.getElementById("photosMenu").style.backgroundColor = "#222222";
		document.getElementById("contactMenu").style.backgroundColor = "#000000";
		console.log("contact clicked");
	}
</script>


</body>
</html>

{% endblock %}


