
{% extends "base_layout.html" %}

{% load static from staticfiles %}


{% block body %}
<!-- About Section -->
<div class="row" style="margin:3%;">

	<div class="w3-hide-small col col-sm-0 col-lg-1"></div>



<!--/****************************/-->
	<div class="col col-sm-12 col-lg-10"> 
		<div class="row">

			<div class="col col-sm-12 col-lg-12">

				<div class="row">
					<div class="col col-sm-12 col-lg-12">
			      		<h2 style="color:lightgrey; border-bottom: solid 1px #eb0185;">About</h2>
			      		<p style="text-align: justify;"><img src="{%static 'enda.jpg'%}" style="padding: 2%; float: left;" width="30%">
			      			<br>Music has always been a love of mine from an early age and the first chance I got I started to collect my favourite records compiling quite a varied collection very quickly. I rented out a twin deck one weekend when I was fourteen to see what it would be like to DJ and caught the bug straight away. Soon after, I did a youth club disco in Inchicore and then a Scout disco in Templeogue and before I knew it I was doing my first 21st at sixteen years of age in a house in Rathfarnham.
			      			<br><br>
			      			With a lot of passion and determination I broke into the club scene and my name started to grow. My real break came after a nite club owner came into a function room I was playing at to see me play and offered me a slot at his club. I was delighted. The following weekend I was working in that club, playing a mix of party favs and club classics whilst bringing a huge element of fun and audience participation back to the nite club dance floors.
			      			<br><br>
			      			This was huge for me and it opened many doors as word spread. It also allowed me over to the years to play with some of the countries top DJs and play at some very prestigious events. At present, I am one of the busiest DJs in Ireland working nationwide doing what I love, a mixture of clubs, weddings, communions, confirmations and functions of all sorts. Over the space of ten years I broke into the corporate market doing drink promotions, brand launches, and corporate entertainment, as my professional DJing career progressed. I love what I do - I play excellent music, get people dancing and entertain people, however, the secret ingredient for me is keeping focused on ensuring that you and your guests/clients have an excellent night and that is why I am Irelands Premier Party DJ “Entertaining The Nation”.</p><br>
			        </div>
			    </div>
				

				<div class="row">
					<div class="col col-sm-12 col-lg-12">
			      		<h2 style="color:lightgrey; border-bottom: solid 1px #eb0185;">Testimonials</h2>
			      		<div class="row">
				      		<div class="col col-lg-4 col-sm-12" style="padding:3%">
				      			<p style="text-align: justify;">Fantastic DJ and entertainer my wedding guests never left the dance floor. Great interaction with the crowd would highly recommend to all.<br>
				      			<b><i>- Rochelle O'Dwyer</i></b></p>
				      		</div>
				      		<div class="col col-lg-4 col-sm-12" style="padding:3%">
				      			<p style="text-align: justify;">We have used Enda's services for a number of occasions and he is a fantastic DJ and entertainer. Great taste in music to suit all age groups and the best DJ I have come across to get the crowd going and enjoying themselves. Wouldn’t use anyone else, 10 stars.<br>
				      			<b><i>- Clive Dunne</i></b></p>
				      		</div>
				      		<div class="col col-lg-4 col-sm-12" style="padding:3%">
				      			<p style="text-align: justify;">Brilliant DJ. Always has the floor packed ❤️<br>
				      			<b><i>- MaryKate O'Brien Cox </i></b></p>
				      		</div>
			      		</div>
			        </div>
			    </div>

			</div>
		</div>
	</div>

	<!--/****************************/-->
<div class="w3-hide-small col col-sm-0 col-lg-1"></div>

<!--/****************************/-->
</div>


<script>
	function menuBackground() {
		document.getElementById("homeMenu").style.backgroundColor = "#000000";
	}

	function homeClick(obj) {
  		document.getElementById("homeMenu").style.backgroundColor = "#000000";
  		document.getElementById("aboutMenu").style.backgroundColor = "#222222";
  		document.getElementById("photosMenu").style.backgroundColor = "#222222";
  		document.getElementById("contactMenu").style.backgroundColor = "#222222";
  		console.log("home clicked");
	}

	function aboutClick(obj) {
  		document.getElementById("homeMenu").style.backgroundColor = "#222222";
  		document.getElementById("aboutMenu").style.backgroundColor = "#000000";
  		document.getElementById("photosMenu").style.backgroundColor = "#222222";
  		document.getElementById("contactMenu").style.backgroundColor = "#222222";
  		console.log("about clicked");
	}

	function photosClick(obj) {
		document.getElementById("homeMenu").style.backgroundColor = "#222222";
		document.getElementById("aboutMenu").style.backgroundColor = "#222222";
		document.getElementById("photosMenu").style.backgroundColor = "#000000";
		document.getElementById("contactMenu").style.backgroundColor = "#222222";
		console.log("photos clicked");
	}

	function contactClick(obj) {
		document.getElementById("homeMenu").style.backgroundColor = "#222222";
		document.getElementById("aboutMenu").style.backgroundColor = "#222222";
		document.getElementById("photosMenu").style.backgroundColor = "#222222";
		document.getElementById("contactMenu").style.backgroundColor = "#000000";
		console.log("contact clicked");
	}
</script>


</body>
</html>

{% endblock %}


