
{% extends "base_layout.html" %}

{% load static from staticfiles %}


{% block body %}
<!-- About Section -->
<div class="container-padding" style="width: 100%; margin: 0 auto; padding-top: 5%!important; padding-left: 15%!important; padding-right: 15%!important;">

	<div class="row">

	  	<div class="col col-sm-12 col-lg-8" id="about">

	 	<h2 style="color:lightgrey; border-bottom: solid 1px #eb0185;">Contact Me</h2>
		 	<div class="w3-section">

		 		<div class="row">

		 					<div class="col col-sm-12 col-lg-6" id="about">
      			<p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge"></i> Phone: 086 066 5737</p></div>
      		


<div class="col col-sm-12 col-lg-6" id="about">
      			<p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge"></i>djendacolfer@gmail.com</p></div>

      	
</div>
<div class="row">
      			<div class="col col-sm-12 col-lg-6" id="about">
      			<p><a href="https://www.facebook.com/messages/t/djendagcolfer"><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge"></i>Facebook Messenger</a></p></div>

      			      			<div class="col col-sm-12 col-lg-6" id="about">
      			<p><a href="https://www.facebook.com/messages/t/djendagcolfer"><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge"></i>Dublin, Ireland</a></p></div>

      		</div>

      			  	<div class="col col-sm-12 col-lg-8">

	 	<h2 style="color:lightgrey; border-bottom: solid 1px #eb0185;">Email Me</h2>

</div>
    		</div>
  		</div>
  	
<div class="col col-sm-12 col-lg-4 id="about">
			<div class="fb-page" style="width: 190px;"
				data-href="https://www.facebook.com/djendagcolfer"
				data-tabs="timeline" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true">
				<blockquote cite="https://www.facebook.com/djendagcolfer" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/djendagcolfer">DJ Enda Colfer</a></blockquote>
			</div>
		</div><!-- End of second column-->

</div>


	</div><!-- End of FIRST row -->



<!-- * * * * * * * * * * * * * * * * * * * * * * * * C O N T A C T -->
	<div class="row">

  	</div><!-- End of THIRD row -->

</div><!-- end of container -->

<!-- END PAGE CONTENT -->
</div>


<script>
	function menuBackground() {
		document.getElementById("homeMenu").style.backgroundColor = "#000000";
	}

	function homeClick(obj) {
  		document.getElementById("homeMenu").style.backgroundColor = "#000000";
  		document.getElementById("aboutMenu").style.backgroundColor = "#222222";
  		document.getElementById("photosMenu").style.backgroundColor = "#222222";
  		document.getElementById("contactMenu").style.backgroundColor = "#222222";
  		console.log("home clicked");
	}

	function aboutClick(obj) {
  		document.getElementById("homeMenu").style.backgroundColor = "#222222";
  		document.getElementById("aboutMenu").style.backgroundColor = "#000000";
  		document.getElementById("photosMenu").style.backgroundColor = "#222222";
  		document.getElementById("contactMenu").style.backgroundColor = "#222222";
  		console.log("about clicked");
	}

	function photosClick(obj) {
		document.getElementById("homeMenu").style.backgroundColor = "#222222";
		document.getElementById("aboutMenu").style.backgroundColor = "#222222";
		document.getElementById("photosMenu").style.backgroundColor = "#000000";
		document.getElementById("contactMenu").style.backgroundColor = "#222222";
		console.log("photos clicked");
	}

	function contactClick(obj) {
		document.getElementById("homeMenu").style.backgroundColor = "#222222";
		document.getElementById("aboutMenu").style.backgroundColor = "#222222";
		document.getElementById("photosMenu").style.backgroundColor = "#222222";
		document.getElementById("contactMenu").style.backgroundColor = "#000000";
		console.log("contact clicked");
	}
</script>


</body>
</html>

{% endblock %}


