
{% extends "base_layout.html" %}

{% load static from staticfiles %}


{% block body %}
<!-- About Section -->
<div class="row" style="margin:3%;">

	<div class="w3-hide-small col col-sm-0 col-lg-1"></div>



<!--/****************************/-->
	<div class="col col-sm-12 col-lg-10"> 
		<div class="row">
			<div class="col col-sm-12 col-lg-7">

				<div class="row">
					<div class="col col-sm-12 col-lg-12">
			      		<h2 style="color:lightgrey; border-bottom: solid 1px #eb0185;">Contact Me</h2>
			        </div>
			    </div>
									<!-- CONTACT GRID -->
				<div class="row" style="padding:5%;">
					<div class="col col-sm-12 col-lg-6">
				 		<p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge"></i> Phone: 086 066 5737</p></div>
			  		<div class="col col-sm-12 col-lg-6">
			  			<p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge"></i>djendacolfer@gmail.com</p></div>
			  	</div>

				<div class="row" style="padding:5%;"><!-- BOTTOM CONTACT ROW -->
					<div class="col col-sm-12 col-lg-6">
							<p><a href="https://www.facebook.com/messages/t/djendagcolfer"><img src="{% static 'messenger.png' %}" class="fa fa-fw w3-text-white w3-xxlarge"></i> Facebook Messenger</a></p></div>
					<div class="col col-sm-12 col-lg-6">
							<p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge"></i> Dublin, Ireland</p></div>
				</div><!-- END CONTACT GRID-->

				<div class="row">
					<div class="col col-sm-12 col-lg-12">
			    	 	<h2 style="color:lightgrey; border-bottom: solid 1px #eb0185;">Email Me</h2>
			    	 	CONTACT FORM
			     	</div>
			     </div>   
			</div>

			<div class="col col-sm-12 col-lg-5">
					
				<div class="fb-page" data-href="https://www.facebook.com/djendagcolfer" data-tabs="timeline" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true">
				<blockquote cite="https://www.facebook.com/djendagcolfer" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/djendagcolfer">DJ Enda Colfer</a></blockquote>
				</div>
				
			</div>

		</div>
	</div>


	<!--/****************************/-->
<div class="w3-hide-small col col-sm-0 col-lg-1"></div>

<!--/****************************/-->

	</div>

      			
  	
  	



</div>


	</div><!-- End of FIRST row -->



<!-- * * * * * * * * * * * * * * * * * * * * * * * * C O N T A C T -->
	<div class="row">

  	</div><!-- End of THIRD row -->

</div><!-- end of container -->

<!-- END PAGE CONTENT -->
</div>


<script>
	function menuBackground() {
		document.getElementById("homeMenu").style.backgroundColor = "#000000";
	}

	function homeClick(obj) {
  		document.getElementById("homeMenu").style.backgroundColor = "#000000";
  		document.getElementById("aboutMenu").style.backgroundColor = "#222222";
  		document.getElementById("photosMenu").style.backgroundColor = "#222222";
  		document.getElementById("contactMenu").style.backgroundColor = "#222222";
  		console.log("home clicked");
	}

	function aboutClick(obj) {
  		document.getElementById("homeMenu").style.backgroundColor = "#222222";
  		document.getElementById("aboutMenu").style.backgroundColor = "#000000";
  		document.getElementById("photosMenu").style.backgroundColor = "#222222";
  		document.getElementById("contactMenu").style.backgroundColor = "#222222";
  		console.log("about clicked");
	}

	function photosClick(obj) {
		document.getElementById("homeMenu").style.backgroundColor = "#222222";
		document.getElementById("aboutMenu").style.backgroundColor = "#222222";
		document.getElementById("photosMenu").style.backgroundColor = "#000000";
		document.getElementById("contactMenu").style.backgroundColor = "#222222";
		console.log("photos clicked");
	}

	function contactClick(obj) {
		document.getElementById("homeMenu").style.backgroundColor = "#222222";
		document.getElementById("aboutMenu").style.backgroundColor = "#222222";
		document.getElementById("photosMenu").style.backgroundColor = "#222222";
		document.getElementById("contactMenu").style.backgroundColor = "#000000";
		console.log("contact clicked");
	}
</script>


</body>
</html>

{% endblock %}


