
{% extends "base_layout.html" %}

{% load static from staticfiles %}


{% block body %}
<!-- About Section -->
<div class="row" style="margin:3%;">

	<div class="w3-hide-small col col-sm-0 col-lg-1"></div>



<!--/****************************/-->
	<div class="col col-sm-12 col-lg-10"> 
		<div class="row">

			<div class="col col-sm-4">

				<div class="card">
					<a href="contact"><img src="{% static 'card-bday.jpg' %}" class="card-img-top" alt="...">
  					<div class="card-body">
    					<p class="card-text">Birthday Parties</div></a>
				</div>


				<div class="card">
					<a href="contact"><img src="{% static 'card-office.jpg' %}" class="card-img-top" alt="...">
  					<div class="card-body">
    					<p class="card-text">Corporate</div></a>
				</div>
						

				<div class="card">
					<a href="contact"><img src="{% static 'card-communion.jpeg' %}" class="card-img-top" alt="...">
  					<div class="card-body">
    					<p class="card-text">Communions and Confirmations</div></a>
				</div>
										
			</div>


				<div class="col col-sm-4">

				<div class="card">
					<a href="contact"><img src="{% static 'card-wed.jpg' %}" class="card-img-top" alt="...">
  					<div class="card-body">
    					<p class="card-text">Weddings</div></a>
				</div>
					
				<div class="card">
					<a href="contact"><img src="{% static 'card-party.jpg' %}" class="card-img-top" alt="...">
  					<div class="card-body">
    					<p class="card-text">Themed Events</div></a>
				</div>	
				

				<div class="card">
					<a href="contact"><img src="{% static 'card-students.jpg' %}" class="card-img-top" alt="...">
  					<div class="card-body">
    					<p class="card-text">Kids/Teenage Discos</div></a>
				</div>
										
			</div>

			<div class="col col-sm-4">

				<div class="card">
					<a href="contact"><img src="{% static 'card-xmas.jpg' %}" class="card-img-top" alt="...">
  					<div class="card-body">
    					<p class="card-text">Christmas Parties</div></a>
				</div>


				<div class="card">
					<a href="contact"><img src="{% static 'dj3.jpg' %}" class="card-img-top" alt="...">
  					<div class="card-body">
    					<p class="card-text">MC</div></a>
				</div>
						

				<div class="card">
					<a href="contact"><img src="{% static 'card-bar.jpg' %}" class="card-img-top" alt="...">
  					<div class="card-body">
    					<p class="card-text">Bars and Clubs</div></a>
				</div>
										
			</div>


	</div>

	<!--/****************************/-->
<div class="w3-hide-small col col-sm-0 col-lg-1"></div>

<!--/****************************/-->

	</div>



</div><!-- end of container -->

<!-- END PAGE CONTENT -->
</div>


<script>
	function menuBackground() {
		document.getElementById("homeMenu").style.backgroundColor = "#000000";
	}

	function homeClick(obj) {
  		document.getElementById("homeMenu").style.backgroundColor = "#000000";
  		document.getElementById("aboutMenu").style.backgroundColor = "#222222";
  		document.getElementById("photosMenu").style.backgroundColor = "#222222";
  		document.getElementById("contactMenu").style.backgroundColor = "#222222";
  		console.log("home clicked");
	}

	function aboutClick(obj) {
  		document.getElementById("homeMenu").style.backgroundColor = "#222222";
  		document.getElementById("aboutMenu").style.backgroundColor = "#000000";
  		document.getElementById("photosMenu").style.backgroundColor = "#222222";
  		document.getElementById("contactMenu").style.backgroundColor = "#222222";
  		console.log("about clicked");
	}

	function photosClick(obj) {
		document.getElementById("homeMenu").style.backgroundColor = "#222222";
		document.getElementById("aboutMenu").style.backgroundColor = "#222222";
		document.getElementById("photosMenu").style.backgroundColor = "#000000";
		document.getElementById("contactMenu").style.backgroundColor = "#222222";
		console.log("photos clicked");
	}

	function contactClick(obj) {
		document.getElementById("homeMenu").style.backgroundColor = "#222222";
		document.getElementById("aboutMenu").style.backgroundColor = "#222222";
		document.getElementById("photosMenu").style.backgroundColor = "#222222";
		document.getElementById("contactMenu").style.backgroundColor = "#000000";
		console.log("contact clicked");
	}
</script>


</body>
</html>

{% endblock %}


