{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
 	<meta name="description" content="DJ Enda Colfer is available for corporate events, weddings, birthday parties and more! Based in Country Carlow, DJ Enda...">
  	<meta name="keywords" content="DJ, ireland, dublin, kildare, meath, carlow, gigs, wedding, music, speakers, hire">
  	<meta name="author" content="Aalasa Fidler">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>DJ Enda Colfer - Corporate Events | Weddings | Birthday Parties</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<style>
	body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
	.w3-row-padding img {margin-bottom: 12px}
	/* Set the width of the sidebar to 120px */
	.w3-sidebar {width: 120px;background: #222;}
	/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
	#main {margin-left: 120px}
	/* Remove margins from "page content" on small screens */
	@media only screen and (max-width: 600px) {#main {margin-left: 0}}
	</style>
</head>

<body class="w3-black">

	<!-- Necessary for Facebook widget-->
	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    
<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->
  <img src="static/icon.png" style="width:100%">
  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>ABOUT</p>
  </a>
  <a href="#photos" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>PHOTOS</p>
  </a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>CONTACT</p>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="#" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
    <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">ABOUT</a>
    <a href="#photos" class="w3-bar-item w3-button" style="width:25% !important">PHOTOS</a>
    <a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>
  </div>
</div>

<!-- Page Content -->

  <!-- Header/Home -->
  <header id="home" class="w3-center" style="border-bottom:solid 1px #3e0133; padding-top: 64px; padding-bottom: 64px; transition: background 1s linear;">

  	<!-- Begin JQuery code used to randomize background images of header -->
  	  	<script type="text/javascript">
  	  		var images = ['static/mbg1.jpg', 'static/mbg2.jpg', 'static/mbg3.jpg', 'static/mbg4.jpg'];
  	  		$('#home').css({'background': 'url(' + images[Math.floor(Math.random() * images.length)] + ')'});

		</script>
	<!-- End JQuery -->

  	<div class="w3-padding-large" id="main">
	    <h1 class="w3-jumbo"><span class="w3-hide-small">DJ</span> Enda</h1>
	    <h2>Ireland's Premier Party DJ </h2>
	    <h3>Entertaining the Nation</h3>
	    <p>Corporate Events | Weddings | Birthday Parties</p>
	</div>
  </header>

  <!-- About Section -->
<div class="container-padding" style="width: 100%; margin: 0 auto; padding-top: 5%!important; padding-left: 15%!important; padding-right: 15%!important;">

	<div class="row">

	  	<div class="col col-sm-12 col-lg-8" id="about">
	    	<h2 style="color:lightgrey; border-bottom: solid 1px #eb0185;">About</h2>
		    <p style="margin-bottom: 4%;">Nationwide Professional Party DJ bringing fun and excitement to the dance floor, mixing music from the 60's, 70's, 80's, 90's, noughties and today!
		    </p>
 				<hr width="50%"> 
		    <h2 style="color:lightgrey; border-bottom: solid 1px #eb0185;">Company Overview</h2>
    		<p style="margin-bottom: 4%;">Providing fun DJ sets for all occasions, we love what we do and are excellent at our job!</p>
 				<hr width="50%"> 
    		<h2 style="color:lightgrey; border-bottom: solid 1px #eb0185;">Products</h2> 
    		<p style="margin-bottom: 4%;">
	    		<ul>
	    		<li>Birthday Parties</li>
	    		<li>Weddings</li>
	    		<li>Christmas Parties</li>
	    		<li>Kids Disco's</li>
	    		<li>Teenage Disco's</li>
	    		<li>Communion/Confirmation Parties</li>
	    		<li>Dinner Dances</li>
	    		<li>All Corporate Events</li>
	    		</ul>
    		</p>

    		<hr width="50%">
    		<hr width="50%">

    	
		</div><!-- End of first column-->

		<div class="col col-sm-12 col-lg-4 id="about">
			<div class="fb-page" style="width: 190px;"
				data-href="https://www.facebook.com/djendagcolfer"
				data-tabs="timeline" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true">
				<blockquote cite="https://www.facebook.com/djendagcolfer" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/djendagcolfer">DJ Enda Colfer</a></blockquote>
			</div>
		</div><!-- End of second column-->

	</div><!-- End of FIRST row -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * P H O T O S -->
	<h2 style="color:lightgrey; border-bottom: solid 1px #eb0185;" id="photos">Photos</h2>
		<div class="row w3-hide-small" style="padding-left: 64px;">
			<div class="col col-sm-0 col-lg-2" style="text-align: right;">
				<button class="w3-button w3-black" onclick="buttons(-1)" style="margin-top:100%;">&#10094;</button></div>

<!-- * * * * * * * * * * * * * * * * * * * * * -->
		<div class="gallery col col-sm-12 col-lg-8"> 
			<hr style="width:200px" class="w3-opacity">
		 	<img class="mySlides" src="{% static 'dj.jpg'%}" style="width:100%;">
		  	<img class="mySlides" src="{% static 'dj2.jpg'%}" style="width:100%;display:none">
		  	<img class="mySlides" src="{% static 'dj3.jpg'%}" style="width:100%;display:none">
		  	<img class="mySlides" src="{% static 'dj4.jpg'%}" style="width:100%;display:none">
			<div class="w3-row-padding w3-section">
			    <div class="w3-col s3">
			      <img class="demo w3-opacity w3-hover-opacity-off" src="{% static 'dj.jpg'%}" style="height:100%; width:100%;cursor:pointer" onclick="currentDiv(1)">
			    </div>
			    <div class="w3-col s3">
			      <img class="demo w3-opacity w3-hover-opacity-off" src="{% static 'dj2.jpg'%}" style="height:100%; width:100%;cursor:pointer" onclick="currentDiv(2)">
			    </div>
			    <div class="w3-col s3">
			      <img class="demo w3-opacity w3-hover-opacity-off" src="{% static 'dj3.jpg'%}" style="height:100%; width:100%;cursor:pointer" onclick="currentDiv(3)">
			    </div>
			    <div class="w3-col s3">
			      <img class="demo w3-opacity w3-hover-opacity-off" src="{% static 'dj4.jpg'%}" style="height:100%; width:100%;cursor:pointer" onclick="currentDiv(4)">
			    </div>
			 </div>
		</div>

		<!-- * * * * * * * * * * * * * * * * * * * * * -->

		<div class="col col-sm-0 col-lg-2" style="text-align: left;">
			<button class="w3-button w3-black" onclick="buttons(1)" style="margin-top:100%;">&#10095;</button></div>

		<hr style="width:200px" class="w3-opacity">

	</div><!-- End of SECOND row -->

					<script>
						var slideIndex = 1;
					function currentDiv(n) {
					  showDivs(slideIndex = n);
					}

					function buttons(n) {
					  showDivs2(slideIndex += n);
					}

					function showDivs(n) {
					  var i;
					  var x = document.getElementsByClassName("mySlides");
					  var dots = document.getElementsByClassName("demo");
					  if (n > x.length) {slideIndex = 1}
					  if (n < 1) {slideIndex = x.length}
					  for (i = 0; i < x.length; i++) {
					    x[i].style.display = "none";
					  }
					  for (i = 0; i < dots.length; i++) {
					    dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
					  }
					  x[slideIndex-1].style.display = "block";
					  dots[slideIndex-1].className += " w3-opacity-off";
					}

					function showDivs2(n) {
					  var i;
					  var x = document.getElementsByClassName("mySlides");
					  var dots = document.getElementsByClassName("demo");
					  if (n > x.length) {slideIndex = 1}
					  if (n < 1) {slideIndex = x.length}
					  for (i = 0; i < x.length; i++) {
					    x[i].style.display = "none";
					  }
					  for (i = 0; i < dots.length; i++) {
					    dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
					  }
					  x[slideIndex-1].style.display = "block";
					  dots[slideIndex-1].className += " w3-opacity-off";
					}
					</script>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * C O N T A C T -->
	<div class="row">
		 <div  class="column col-sm-12 col-lg-8" id="contact">
		 	<h2 style="color:lightgrey; border-bottom: solid 1px #eb0185;">Contact Me</h2>
		 	<div class="w3-section">
      			<p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Carlow, Ireland</p>
      			<p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: 086 066 5737</p>
      			<p><a href="https://www.facebook.com/messages/t/djendagcolfer"><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"></i>Facebook Messenger</a></p>
    		</div>
  		</div>
  		<hr style="width:200px" class="w3-opacity">
  	</div><!-- End of THIRD row -->

</div><!-- end of container -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * F O O T E R -->
  <footer style="text-align:center; padding-top:3%; padding-bottom: 1%;">
    
    <p class="w3-medium" style="border-top:solid 1px #3e0133; padding-top: 1%;">
    	<a href="https://www.facebook.com/djendagcolfer"><i class="fa fa-facebook-official w3-hover-opacity"></i></a> DJ Enda - Ireland's Premier Party DJ</p>
    <p> &copy; Enda Colfer 2019</p>

    <p style="color:#3e0133; font-size: 0.55em;">Image credits to Maurício Mascaro, Trinity Kubassek, Mark Angelo, and Kaboompics from Pexels</p>



  </footer>

<!-- END PAGE CONTENT -->
</div>

</body>
</html>


